<div *ngFor="let recipe of recipes">
    <mat-card>
        <mat-card-title style="font-size: 35px;">{{recipe.name}}</mat-card-title>
        <br><br>
        <mat-card-title class="overline">ingredients :</mat-card-title>
        <mat-card-content>{{recipe.ingredients}}</mat-card-content>
        <br><br>
        <mat-card-title class="overline">preparation :</mat-card-title>
        <mat-card-content>{{recipe.preparation}}</mat-card-content>
        <br><br>
        <mat-card-title class="overline">type :</mat-card-title>
        <mat-card-content>{{recipe.type}}</mat-card-content>
        <br><br>
        <mat-card-title class="overline">preparation time :</mat-card-title>
        <mat-card-content>{{recipe.time}}</mat-card-content>
        <br><br>
        <mat-card-title class="overline">level :</mat-card-title>
        <mat-card-content>{{recipe.level}}</mat-card-content>
        <br><br>
        <mat-card-title class="overline">avg starts :</mat-card-title>
        <mat-card-content *ngIf="recipe.avg_starts != null">{{recipe.avg_starts}}</mat-card-content>
        <mat-card-content *ngIf="recipe.avg_starts == null">No rating yet..</mat-card-content>
    </mat-card>    
</div>
<br><br><br><br>
