<div class="row-img">
    <img style="height: 180px;" class="column-img" src="../../assets/images/italian/italian1.jpeg"/>
    <img style="height: 180px;" class="column-img" src="../../assets/images/italian/italian2.jpeg"/>
    <img style="height: 180px;" class="column-img" src="../../assets/images/italian/italian3.jpeg"/>
    <img style="height: 180px;" class="column-img" src="../../assets/images/italian/italian4.webp"/>
</div>
<app-recipe [recipes] = 'italianRecipes'></app-recipe>
<div class="row-img">
    <img style="height: 180px;" class="column-img" src="../../assets/images/italian/italian5.jpeg"/>
    <img style="height: 180px;" class="column-img" src="../../assets/images/italian/italian6.jpeg"/>
    <img style="height: 180px;" class="column-img" src="../../assets/images/italian/italian7.webp"/>
    <img style="height: 180px;" class="column-img" src="../../assets/images/italian/italian8.png"/>
</div>
<br><br><br><br>

