<div class="row-img">
    <img style="height: 180px;" class="column-img" src="../../assets/images/medit/medit1.webp"/>
    <img style="height: 180px;" class="column-img" src="../../assets/images/medit/medit2.jpeg"/>
    <img style="height: 180px;" class="column-img" src="../../assets/images/medit/medit3.webp"/>
    <img style="height: 180px;" class="column-img" src="../../assets/images/medit/medit4.jpeg"/>
</div>
<app-recipe [recipes] = 'meditRecipes'></app-recipe>
<div class="row-img">
    <img style="height: 180px;" class="column-img" src="../../assets/images/medit/medit5.webp"/>
    <img style="height: 180px;" class="column-img" src="../../assets/images/medit/medit6.jpeg"/>
    <img style="height: 180px;" class="column-img" src="../../assets/images/medit/medit7.jpeg"/>
    <img style="height: 180px;" class="column-img" src="../../assets/images/medit/medit8.jpeg"/>
</div>
<br><br><br><br>

