<router-outlet></router-outlet>
<div class="container">
  <ol>
    <li>
      <strong>The Forceful Interface:</strong> In the provided `film-data.ts` file, export a list of objects representing Star Wars movies. Each object should have fields like `title`, `episode`, `director`, and `releaseDate`. Create an Angular TypeScript interface named `StarWarsMovie` that defines the structure of these movie objects. Use the Force wisely – make sure to account for all relevant fields.
    </li>
    <li>
      <strong>Routing through Hyperspace:</strong> Set up Angular routing by creating a route named `star-wars-movies`. Ensure that this route corresponds to a component that will display information about all Star Wars movies. May the route be with you!
    </li>
    <li>
      <strong>Master of NgFor:</strong> Leverage the power of `ngFor` to iterate through the list of Star Wars movies in your `star-wars-movies` component. Display each movie using a reusable component named `MovieCardComponent`. This component should take a `StarWarsMovie` as an input and elegantly present the movie's details.
    </li>
    <li>
      <strong>The Galactic Display:</strong> Implement the `MovieCardComponent` to showcase the movie details such as title, episode, director, and release date. Let the Force guide you as you unleash the power of Angular components!
    </li>
    <li>
      <strong>The Static Example:</strong> Uncomment the provided static example in the `star-wars-movies` component to display a sample movie. This example can serve as a guide for implementing the dynamic display using the `ngFor` directive.
    </li>
  </ol>
</div>

<!-- <div class="container mt-5">
  <div class="card">
      <div class="card-header bg-dark text-light">
          <h3 class="mb-0">Star Wars: Return of the Jedi</h3>
      </div>
      <div class="card-body">
          <h5 class="card-title">Episode 6</h5>
          <p class="card-text">
              <strong>Director:</strong> Richard Marquand<br>
              <strong>Producer:</strong> Howard G. Kazanjian, George Lucas, Rick McCallum<br>
              <strong>Release Date:</strong> 1983-05-25
          </p>
          <p class="card-text">
              <strong>Opening Crawl:</strong><br>
              {{opening_crawl}}
          </p>
      </div>
  </div>
</div> -->
