<mat-card>
    <mat-card-title style="font-size: 35px;">{{recipe.name}}</mat-card-title>
    <br><br>
    <mat-card-title class="overline">ingredients :</mat-card-title>
    <mat-card-content>{{recipe.ingredients}}</mat-card-content>
    <br><br>
    <mat-card-title class="overline">preparation :</mat-card-title>
    <mat-card-content>{{recipe.preparation}}</mat-card-content>
    <br><br>
    <mat-card-title class="overline">type :</mat-card-title>
    <mat-card-content>{{recipe.type}}</mat-card-content>
    <br><br>
    <mat-card-title class="overline">preparation time :</mat-card-title>
    <mat-card-content>{{recipe.time}}</mat-card-content>
    <br><br>
    <mat-card-title class="overline">level :</mat-card-title>
    <mat-card-content>{{recipe.level}}</mat-card-content>
    <br><br>
    <mat-card-title class="overline">rating :</mat-card-title>
    <mat-card-content *ngIf="recipe.comments_number >= 1">{{recipe.sum_stars / recipe.comments_number}}</mat-card-content>
    <mat-card-content *ngIf="recipe.comments_number == 0">No rating yet..</mat-card-content>
</mat-card>  
