*{
    color: #606C5D;
    text-align: center;
}

.underline:hover{
    text-decoration: underline;
    text-decoration-color: #F1C376;
    text-underline-offset: 0.5em;
}

.overline{
    text-decoration: underline;
    text-underline-offset: -2em;
    text-decoration-thickness: 1px;
    text-decoration-color: #F1C376;
}

.column{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
    
}

.row-img{
    display: flex;
    gap: 20px;
    max-width: 1224px;
    width: 100%;
    margin: auto;
    padding: 10px 0;
}

.container{
    display: flex;
    max-width: 1224px;
    width: 100%;
    margin: auto;
    padding: 40px 0;
    text-align: center;
    justify-content: space-evenly;
}

.column{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.btn{
    width: 30px;
    height: 40px;
    border-color: #F1C376;
    border-width: thin;
    text-align: center;
    background-color: #F1C376;
    color: #FFF4F4;
    border-color: #606C5D;
}

button{
    width: 30px;
    height: 40px;
    border-color: #F1C376;
    border-width: thin;
    color: #FFF4F4;
}

mat-button{
    color: #FFF4F4;
}