<div class="row-img">
    <img style="height: 180px;" class="column-img" src="../../assets/images/other/other1.jpeg"/>
    <img style="height: 180px;" class="column-img" src="../../assets/images/other/other2.jpeg"/>
    <img style="height: 180px;" class="column-img" src="../../assets/images/other/other3.jpeg"/>
    <img style="height: 180px;" class="column-img" src="../../assets/images/other/other4.avif"/>
</div>
<app-recipe [recipes] = 'otherRecipes'></app-recipe>
<div class="row-img">
    <img style="height: 180px;" class="column-img" src="../../assets/images/other/other4.jpeg"/>
    <img style="height: 180px;" class="column-img" src="../../assets/images/other/other6.jpeg"/>
    <img style="height: 180px;" class="column-img" src="../../assets/images/other/other7.png"/>
    <img style="height: 180px;" class="column-img" src="../../assets/images/other/other8.png"/>
</div>
<br><br><br><br>

