:host {
    /* display: flex; */
    justify-content: center;
    margin: 100px 0px;
  }

mat-card{
    background-color: #FDFDF6 !important;
    border-radius: 25px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    opacity: 80%;
    border-color: #F1C376;
    border-width: thin;
    width: 1200px;
    padding: 40px;
  }

mat-card-title {
    font-size: 28px;
    opacity: 1.0 !important;
}

mat-card-content {
    font-size: 20px;
    opacity: 1.0 !important;
}

mat-card-title, mat-card-content {
    display: flex;
    justify-content: center;
    color: #606C5D;
    margin-top: 20px;
    text-align: center;
  }

.overline{
    text-decoration: underline;
    text-underline-offset: -1.5em;
    text-decoration-thickness: 1px;
    text-decoration-color: #F1C376;
}

.gallery{
  display: flex;
  margin-right: 100px;
  justify-content: space-between;
}

.column{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.comment{
  width: 400px;
}

button {
  display: flex;
  justify-content: center;
  color: #967E76 !important;
}

.column-img{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
  margin: auto;

}

.row-img{
  display: flex;
  gap: 20px;
  max-width: 1224px;
  width: 100%;
  margin: auto;
  padding: 10px 0;
}