nav ul {
    list-style-type: none;
    text-align: center;
    background-color: #FFF4F4;
    margin: 0;
}


nav ul li {
    display: inline;
    margin: 0 10px;
}


nav ul li a {
    text-decoration: none;
    color: #606C5D;
    position: relative;
}

.loader-gif img{
    height: 540px;
    width: 960px;
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 140px;
    display: block

}
