nav ul {
    list-style-type: none;
    text-align: center;
    background-color: #FFF4F4;
    margin: 0;
    padding-right: 30px;
    padding-left: 30px;
}

.profile {
    height: 30px;
    width: 30px;
    float: left;
    padding-top: 30px;
    padding-left: 30px;
}

nav ul li {
    display: inline;
    margin: 0 10px;
    vertical-align: middle;
    padding: 20px;
}


.nav-hover:hover{
    text-decoration: underline;
    color: #F1C376;
}

nav ul li a {
    text-decoration: none;
    color: #606C5D;
    position: relative;
}

.loader-gif img{
    height: 540px;
    width: 960px;
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 200px;
    display: block

}
