<div class="loader-gif" role="status" *ngIf="loader">
  <img src="../assets/images/gif.gif"/>
</div>

<nav *ngIf="!loader">
  <a routerLink="profile"><img class="profile" src="../assets/images/profile-icon-removebg-preview.png"/></a>
  <ul>
    <li><a class="nav-hover" routerLink="about">ABOUT</a></li>
    <li><a class="nav-hover" routerLink="contact">CONTACT</a></li>
    <li><a routerLink="home"><img style="height: 90px; width: 180px;" src="../assets/images/CREATIVE_STUDIO-removebg-preview.png"/></a></li>
    <li><a class="nav-hover" routerLink="category">CATEGORY</a></li>
    <li><a class="nav-hover" routerLink="browse">BROWSE</a></li>
  </ul>
</nav>

<div *ngIf="!loader">
  <router-outlet></router-outlet>
</div>