<h1>Form Builder, Form Group, Form Control, Validators and ngsubmit</h1>

<form class="form">
  <div class="field">
    <label class="label">username</label>
    <input type="text" class="input"/>
  </div>
  <div class="field">
    <label class="label">email</label>
    <input type="text" class="input"/>
  </div>
  <div class="field">
    <label class="label">password</label>
    <input type="text" class="input"/>
  </div>

  <div>
    <button type="submit" class="button">Register</button>
  </div>
</form>