<div class="container">
    <h2 class="title">BROWSE</h2>
    <div class="photo-gallery">
        <div class="column">
            <div class="photo">
                <a routerLink=""><img src="../../assets/images/photo-gallery/asian2.avif" alt=""></a>
            </div>
            <div class="photo">
                <a routerLink=""><img src="../../assets/images/photo-gallery/italian1.webp" alt=""></a>
            </div>
            <div class="photo">
                <a routerLink=""><img src="../../assets/images/photo-gallery/other1.webp" alt=""></a>
            </div>
            <div class="photo">
                <a routerLink=""><img src="../../assets/images/photo-gallery/medit1.jpeg" alt=""></a>
            </div>
            <div class="photo">
                <a routerLink=""><img src="../../assets/images/photo-gallery/dessert1.jpeg" alt=""></a>
            </div>
            <div class="photo">
                <a routerLink=""><img src="../../assets/images/photo-gallery/asian4.jpeg" alt=""></a>
            </div>
            <div class="photo">
                <a routerLink=""><img src="../../assets/images/photo-gallery/other4.png" alt=""></a>
            </div>
            <div class="photo">
                <a routerLink=""><img src="../../assets/images/photo-gallery/other3.jpg" alt=""></a>
            </div>
        </div>

        <div class="column">
            <div class="photo">
                <a routerLink=""><img src="../../assets/images/photo-gallery/other3.jpg" alt=""></a>
            </div>
            <div class="photo">
                <a routerLink=""><img src="../../assets/images/photo-gallery/dessert2.jpeg" alt=""></a>
            </div>
            <div class="photo">
                <a routerLink=""><img src="../../assets/images/photo-gallery/italian3.jpeg" alt=""></a>
            </div>
            <div class="photo">
                <a routerLink=""><img src="../../assets/images/photo-gallery/asiancuisine1.webp" alt=""></a>
            </div>
            <div class="photo">
                <a routerLink=""><img src="../../assets/images/photo-gallery/meidt2.cms" alt=""></a>
            </div>
            <div class="photo">
                <a routerLink=""><img src="../../assets/images/photo-gallery/desset4.jpeg" alt=""></a>
            </div>
            <div class="photo">
                <a routerLink=""><img src="../../assets/images/photo-gallery/other5.jpeg" alt=""></a>
            </div>
            <div class="photo">
                <a routerLink=""><img src="../../assets/images/photo-gallery/other2.jpeg" alt=""></a>
            </div>
            <div class="photo">
                <a routerLink=""><img src="../../assets/images/photo-gallery/asian5.jpeg" alt=""></a>
            </div>
        </div>

        <div class="column">
            <div class="photo">
                <a routerLink=""><img src="../../assets/images/photo-gallery/italian2.jpeg" alt=""></a>
            </div>
            <div class="photo">
                <a routerLink=""><img src="../../assets/images/photo-gallery/dessert3.jpeg" alt=""></a>
            </div>
            <div class="photo">
                <a routerLink=""><img src="../../assets/images/photo-gallery/asian3.webp" alt=""></a>
            </div>
            <div class="photo">
                <a routerLink=""><img src="../../assets/images/photo-gallery/medit3.jpeg" alt=""></a>
            </div>
        </div>
    </div>
</div>