*{
    padding: 0;
    margin: 0;
}

.container{
    max-width: 1224px;
    width: 100%;
    margin: auto;
    padding: 40px 0;
}

.title{
    margin-bottom: 2rem;
    text-align: center;
    color: #606C5D;
    text-decoration: underline;
    text-underline-offset: 0.5em;
    text-decoration-thickness: 1px;
    text-decoration-color: #F1C376;
}

.photo-gallery{
    display: flex;
    gap: 20px;
}

.column{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.photo img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}