<div class="row-img">
    <img style="height: 180px;" class="column-img" src="../../assets/images/desserts/desserts1.jpeg"/>
    <img style="height: 180px;" class="column-img" src="../../assets/images/desserts/desserts6.jpeg"/>
    <img style="height: 180px;" class="column-img" src="../../assets/images/desserts/desserts3.jpeg"/>
    <img style="height: 180px;" class="column-img" src="../../assets/images/desserts/desserts4.jpeg"/>
</div>
<app-recipe [recipes] = 'dessertRecipes'></app-recipe>
<div class="row-img">
    <img style="height: 180px;" class="column-img" src="../../assets/images/desserts/desserts2.png"/>
    <img style="height: 180px;" class="column-img" src="../../assets/images/desserts/desserts5.webp"/>
    <img style="height: 180px;" class="column-img" src="../../assets/images/desserts/desserts6.jpeg"/>
    <img style="height: 180px;" class="column-img" src="../../assets/images/desserts/desserts7.jpeg"/>
</div>
<br><br><br><br>
