.container{
    display: flex;
    max-width: 1224px;
    width: 100%;
    margin: auto;
    padding: 40px 0;
    gap: 10px;
    justify-content: space-around;
    justify-items: center;
}

.column{
    display: flex;
    flex-direction: column;
    gap: 20px;
}