body{
    color: #6b6b6b;
    text-align: center;
    font-family: 'freightsans_regular',sans-serif;
    font-weight: lighter;
}

h1{
    font-family: 'freightsans_regular',sans-serif;
    color: black;
    font-size: 80px;
}

h2{
    font-size: 24px;
    font-weight: lighter;
    text-decoration: underline;
    text-underline-offset: -2em;
    text-decoration-thickness: 1px;
    text-decoration-color: #6b6b6b;
}

h3{
    font-size: 20px;
    font-weight: lighter;
}

h4{
    font-size: 18px;
    font-weight: lighter;
}

h5{
    font-size: 16px;
    font-weight: lighter;
}

h6{
    font-size: 12px;
    font-weight: lighter;
    letter-spacing: 1px;
}

.honeycomb-container{
    margin: 30px auto 250px auto;
    position: static;
}

.honeycomb{
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    max-width: 1200px;
    margin: auto auto;
    padding: 0;
    transform: translateY(80px);
}

.honeycomb-cell{
    -webkit-box-flex: 0;
    flex: 0 1 250px;
    max-width: 180px;
    height: 95.5px;
    margin: 45.4px 12.5px 25px;
    position: relative;
    padding: 0.5em;
    text-align: center;
    z-index: 1;
}

.honeycomb-cell-img{
    top: -50%;
    left: 0;
    width: 100%;
    height: 200%;
    display: block;
    position: absolute; 
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    z-index: -1;
}

.honeycomb-hidden{
    display: none;
    opacity: 0;
    width: 250px;
    margin: 0 12.5px;
} 

.navigation li:hover{
    color: #16a6b6;
}

.navigation ul{
    float: left;
    display: flex;
    justify-content: center;
    margin: 25;
}

.navigation li{
    display: inline-block;
    margin: 1%;
    color: black;
    vertical-align: middle;
}

.img-footer{
    display: inline-block;
    margin: 1%;
    vertical-align: middle;
}

.img-footer img{
    height: 50px;
}

.footer-hover{
    border-color: #16a6b6;
    padding: 0;
}

.footer-hover:hover{
    color: #16a6b6;
}

.border-underline{
    padding-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.left{
    padding-left: 60px;
}

.right{
    padding-right: 60px;
}

#1{
    top: auto;
}

#2{
    top: auto;
}

#3{
    top: auto;
}

#page-border {
    background-color: #f5f5f5;
    margin: 20px;
    line-height: 1.5;
    letter-spacing: 1px;
}