<div class="row-img">
    <img style="height: 180px;" class="column-img" src="../../assets/images/asian1.png"/>
    <img style="height: 180px;" class="column-img" src="../../assets/images/asian2.webp"/>
    <img style="height: 180px;" class="column-img" src="../../assets/images/asian3.webp"/>
    <img style="height: 180px;" class="column-img" src="../../assets/images/asian4.webp"/>
</div>
<app-recipe [recipes] = 'asianRecipes'></app-recipe>
<div class="row-img">
    <img style="height: 180px;" class="column-img" src="../../assets/images/asian5.webp"/>
    <img style="height: 180px;" class="column-img" src="../../assets/images/asian6.jpeg"/>
    <img style="height: 180px;" class="column-img" src="../../assets/images/asian7.jpeg"/>
    <img style="height: 180px;" class="column-img" src="../../assets/images/asian8.jpeg"/>
</div>
<br><br><br><br>

