<mat-card>
    <mat-card-title>ABOUT US</mat-card-title>
    <br><br>
    <mat-card-content>
        Welcome to Living The Food Life, your go-to destination for culinary inspiration and delightful recipes!
        <br><br>
        At Living The Food Life, we believe that cooking is an art, a journey, and a celebration of flavors. 
        <br><br>
        Whether you're a seasoned chef or a kitchen novice, our app is designed to make your cooking experience enjoyable, creative, and delicious.
    </mat-card-content>
        <br><br><br><br>
    <mat-card-content class="overline">
        You can also be apart of our growing community that share special recipes with each other. submit a recipe today!
    </mat-card-content>
        <br><br><br><br>
    <mat-card-content class="overline">
        Join Living The Food Life now and embark on a culinary adventure. 
    </mat-card-content>
        <br><br>
    <mat-card-content>
        Whether you're looking for a quick weeknight dinner, planning a special celebration, or simply seeking kitchen inspiration, we've got you covered.
        <br><br>
        Happy cooking!
        <br><br><br><br>
        Let us help you live the FOOD LIFE! Enjoy!
    </mat-card-content>
</mat-card>
