:host {
    display: flex;
    justify-content: center;
    margin: 100px 0px;
  }

mat-card{
    background-color: #D7C0AE !important;
    border-radius: 25px;
    margin: 40px;
    opacity: 80%;
    border-color: #967E76;
    border-width: thin;
  }

mat-card-title {
    font-size: 28px;
    opacity: 1.0 !important;
}

mat-card-content {
    font-size: 20px;
    opacity: 1.0 !important;
}

mat-card-title, mat-card-content {
    display: flex;
    justify-content: center;
    color: #967E76;
    margin-top: 20px;
    text-align: center;
  }