<h1>Exercise 4</h1>
<p>
  In This exercise we will put into use @input and @output. Make sure you do not
  make these components in the wrong place or the solution will not be accepted.
</p>
<ol>
  <li>Create a new component called my-outer</li>
  <li>Create a new component called my-inner</li>
  <li>
    The outer component will display a total. The inner component will have an
    button and an "inner total".
  </li>
  <li>
    Every time the inner total will pass 10 it should set the inner total to 0
    and emit an event to increment the outer total by 10
  </li>
  <li>
    On app start the inner component will have it's inner total initialized to
    5.
  </li>
  <li>
    Once this is done add another button to decrease the value of the inner
    total. When the inner total will reach -10 it should output the event to the
    outer total and decrease the outer total by 10
  </li>
</ol>
